@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i');
html,body{
  margin:0;
  height:120%;
  font-family: 'Josefin Sans', sans-serif;
}
.title{
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}




/*Contact bar*/
.contact-container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}
.first-box, .second-box, .third-box, .fourth-box{
  margin: 1%;
  border-radius: 10px;
  width: 22%;
  display: inline-block;
  text-align: center;
}
.first-box{
  background:#FFBF37;
}
.second-box{
   background:#54A4DC;
}
.third-box{
  background:#F66;
}
.fourth-box{
  background:#46C6CE;
}




/*Header*/

.header{
  position:relative;
  overflow:hidden;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  height:50vw;
  min-height:400px;
  max-height:550px;
  min-width:300px;
  color:#eee;
  margin-bottom: 30px;
}
.header:after{
  content:"";
  width:100%;
  height:40%;
  position:absolute;
  bottom:0;
  left:0;
  z-index:-1;
 background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(27,32,48,1) 100%);
}
.header:before{
  content:"";
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateZ(0) scale(1.0, 1.0);
  transform: translateZ(0);
  background:#1B2030 url(images/main.jpg) top center no-repeat;
  background-size:cover;
  background-attachment:fixed;
  animation: grow 60s  linear 10ms infinite;
  transition:all 0.2s ease-in-out;
  z-index:-2
}
.header a{
  color:#eee
}
.menu{
  display:block;
  width:30px;
  height:30px;
  border:2px solid #fff;
  border-radius:3px;
  position:absolute;
  right:20px;
  top:20px;
  text-decoration:none
}
.menu:after{
  content:"";
  display:block;
  width:20px;
  height:3px;
  background:#fff;
  position:absolute;
  margin:0 auto;
  top:5px;
  left:0;
  right:0;
  box-shadow:0 8px, 0 16px
}
.logo{
  border:2px solid #fff;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  margin:20px;
  padding:5px 10px;
  font-weight:600;
  font-size:1.2em;
  box-sizing:border-box
}
.sides, .info{
  flex: 0 0 auto;
  width:50%
}
.info{
  width:100%;
  padding:15% 10% 0 10%;
  text-align:center;
  text-shadow:0 2px 3px rgba(0,0,0,0.2)
}

.info h4, .meta{
  font-size:0.7em
}

@keyframes grow{
  0% { transform:scale(1)}
  50% { transform:scale(1.2)}
}
.content{  
  padding:5% 10%;
  text-align:justify
}
.btn{
  color:#333;
  border:2px solid;
  border-radius:3px;
  text-decoration:none;
  display:inline-block;
  padding:5px 10px;
  font-weight:600
}

.twtr{
  margin-top:100px
}


/*What we do*/
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");




* {
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  background: #F2F2F2;
}

#wrap {
  width: 100%;
  height: auto;
  margin-top:10%;
}
#wrap .card {
  width: 32%;
  height: auto;
  background: #fff;
  box-shadow: 0 20px 40px -15px rgba(0, 0, 0, 0.3);
  float: left;
  position: relative;
  border-radius: 5px;
  padding: 0 10px;
}
#wrap .card:nth-child(2) {
  margin: 0 2%;
}
#wrap .card:hover .thumb {
  top: -25%;
}
#wrap .card .thumb {
  width: 90%;
  height: 150px;
  background: #000;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  position: absolute;
  left: 50%;
  top: -10%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10;
  -webkit-transition: 0.3s cubic-bezier(0.67, -0.12, 0.45, 1.5);
  transition: 0.3s cubic-bezier(0.67, -0.12, 0.45, 1.5);
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.3);
}
#wrap .card #one {
  background-image: url(images/call.jpeg);
}
#wrap .card #two {
  background-image: url(images/clean2.jpg);
}
#wrap .card #three {
  background-image: url(images/thumb.jpg);
}
#wrap .card .option {
  width: 60%;
  height: 30px;
  margin: 90px auto 0 auto;
}

#wrap .card h3 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 20px;
  color: #E63D3A;
  opacity: 0.6;
}
#wrap .card hr {
  width: 10%;
  opacity: 0.5;
  margin: 10px auto;
}
#wrap .card .price {
  font-size: 14px;
  font-weight: 700;
  color: #4d4d4d;
}
#wrap .card .desc {
  margin: 15px 0;
  font-size: 13px;
  line-height: 20px;
  opacity: 0.8;
}
#wrap .card .add, #wrap .card .buy {
  width: 48%;
  height: 30px;
  border-radius: 4px;
  margin-bottom: 10px;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}
#wrap .card .add a, #wrap .card .buy a {
  line-height: 30px;
  font-size: 13px;
  color: #fff;
}
#wrap .card .add {
  float: left;
  background: #FF9F00;
}
#wrap .card .add:hover {
  background: #cc7f00;
}
#wrap .card .buy {
  float: right;
  background: #FB641B;
}
#wrap .card .buy:hover {
  background: #df4b04;
}

@media screen and (max-width: 480px) {
  #wrap {
    top: 10%;
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
  #wrap .card {
    width: 100%;
  }
  #wrap .card:nth-child(2) {
    margin: 50px 0;
  }
  #wrap .card:nth-child(3) {
    margin-bottom: 20px;
  }
}
.gray-text{
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    color: #a5afb1;
}
.blue-text{
    font-size: 32px;
    font-weight: 600;
    font-style: normal;
    color: #5d95db;
}